html { /*controls global sizing*/
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont;
}

* { /*controls width*/
    box-sizing: border-box;
}

body { /*fixes height*/
    margin: 0;
    padding: 0;
    background-color: #faf5eed8;
    color: #262523
}

p { /*scales the card body's font size*/
    font-size: 1.6rem;
}

small { /*scales the card other info's font size*/
    font-size: 1.2rem;
}

.container { /*pads the width of the page*/
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.title { /*Scales and centers the title*/
    font-size: 4.4rem;
    text-align: center;
}

.form { /*stretches the form across the page*/
    display: grid;
}

.label { /*formats the label of the search bar*/
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input { /*formats search bar*/
    font-size: 1.6rem;
    font-style: italic;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 2px solid rgb(250, 240, 225);
    margin-bottom: 1rem;
}

.button { /*formats the submit button*/
    background-color: #262523;
    color: rgb(250, 240, 225);
    padding: 1rem, 2rem;
    border: 2px solid rgb(250, 240, 225);
    border-radius: 20px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover { /*submit button hover color*/
    background-color: rgba(60, 170, 250, 0.75);
}

@media (min-width:770px) { /*for mobile styling*/
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }

    .input { /*margin between cards and search bar*/
        margin-bottom: 10;
    }
}

.card { /*formats the card*/
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    background-color: rgba(250, 248, 242, 1);
}

.card--title { /*formats the card's title text*/
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
}

.card--image { /*formats the card's image*/
    margin-bottom: .2rem;
    display: block;
}